In [17]:


import numpy as np
import pandas as pd
import numpy as np
import xarray as xr

#!wget https://github.com/patel-zeel/delhi_aq/blob/main/data/delhi_cpcb_2022.nc -O delhi.nc
!wget https://github.com/patel-zeel/delhi_aq/raw/main/data/delhi_cpcb_2022.nc -O delhi.nc

--2023-05-10 22:53:17--  https://github.com/patel-zeel/delhi_aq/raw/main/data/delhi_cpcb_2022.nc
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://raw.githubusercontent.com/patel-zeel/delhi_aq/main/data/delhi_cpcb_2022.nc [following]
--2023-05-10 22:53:17--  https://raw.githubusercontent.com/patel-zeel/delhi_aq/main/data/delhi_cpcb_2022.nc
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 59116677 (56M) [application/octet-stream]
Saving to: ‘delhi.nc’

delhi.nc            100%[===================>]  56.38M  --.-KB/s    in 0.1s

2023-05-10 22:53:17 (451 MB/s) - ‘delhi.nc’ saved [59116677/59116677]

In [27]:
data = xr.open_dataset('delhi.nc')
df = data.to_dataframe().reset_index().set_index("time")
print(len(df))
print(df.columns)
df.head()

df.to_csv('delhi_aq.csv')

351320
Index(['station', 'From Date', 'To Date', 'PM2.5', 'PM10', 'NO', 'NO2', 'NOx',
       'NH3', 'SO2', 'CO', 'Ozone', 'Benzene', 'Toluene', 'RH', 'WS', 'WD',
       'SR', 'BP', 'AT', 'RF', 'TOT-RF', 'latitude', 'longitude'],
      dtype='object')

In [28]:
!ls -l

total 250888
-rw-r--r-- 1 root root 70412840 May 10 22:59 delhi_aq_2022.csv
-rw-r--r-- 1 root root 68251685 May 10 22:59 delhi_aq.csv
-rw-r--r-- 1 root root 59116677 May 10 22:53 delhi.n
-rw-r--r-- 1 root root 59116677 May 10 22:53 delhi.nc
-rw-r--r-- 1 root root        0 May 10 22:47 fname
drwxr-xr-x 1 root root     4096 May  9 13:35 sample_data

In [26]:
# extract data for 2022
df2022 = df["2022-01-01":"2022-12-31"].reset_index().sort_values(by=["time", "station"])
print(len(df2022))
df2022.head()

df2022.to_csv('delhi_aq_2022.csv')

<ipython-input-26-1d18ed1c95af>:2: FutureWarning: Value based partial slicing on non-monotonic DatetimeIndexes with non-existing keys is deprecated and will raise a KeyError in a future Version.
  df2022 = df["2022-01-01":"2022-12-31"].reset_index().sort_values(by=["time", "station"])

350400

In [25]:

# extract data for 2022

df_2022 = df.loc["2022"].reset_index()
print(len(df_2022))

# convert time to hours starting from 2022
df_2022["time"] = (df_2022["time"] - df_2022["time"].min()) / np.timedelta64(1, 'h')

assert df_2022.shape[0] == 365*24*40 == 350400 # 40 stations for 365 days and 24 hours (including missing data)

df_2022.head()

350400

,time,station,From Date,To Date,PM2.5,PM10,NO,NO2,NOx,NH3,...,RH,WS,WD,SR,BP,AT,RF,TOT-RF,latitude,longitude
0,0.0,"Alipur, Delhi - DPCC",2022-01-01 00:00:00,2022-01-01 01:00:00,219.50,342.75,94.73,53.95,105.95,3.78,...,79.75,NaN,205.95,4.60,999.10,6.85,0.0,0.0,28.815329,77.15301
1,1.0,"Alipur, Delhi - DPCC",2022-01-01 01:00:00,2022-01-01 02:00:00,224.50,360.25,89.30,44.70,96.60,5.50,...,82.23,NaN,206.05,4.60,998.90,6.72,0.0,0.0,28.815329,77.15301
2,2.0,"Alipur, Delhi - DPCC",2022-01-01 02:00:00,2022-01-01 03:00:00,217.00,359.00,50.08,48.20,66.45,4.30,...,82.30,NaN,205.38,4.62,998.70,6.97,0.0,0.0,28.815329,77.15301
3,3.0,"Alipur, Delhi - DPCC",2022-01-01 03:00:00,2022-01-01 04:00:00,214.25,341.50,25.18,42.80,43.30,3.70,...,82.28,NaN,206.50,4.62,998.42,6.72,0.0,0.0,28.815329,77.15301
4,4.0,"Alipur, Delhi - DPCC",2022-01-01 04:00:00,2022-01-01 05:00:00,207.50,309.67,24.17,44.75,43.50,3.38,...,82.30,NaN,211.95,4.65,998.15,6.60,0.0,0.0,28.815329,77.15301